[user]
	email = cctom@umich.edu
	name = cc
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/docker/.vscode-server/bin/c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5/node /tmp/vscode-remote-containers-237621f6cb614d24caf325c5f736c84591ec047d.js $*; }; f"
