[user]
	email = cctom@umich.edu
	name = cc
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
[credential]
	helper = store
[safe]
	directory = /opt/flutter
	directory = /home/cc/codes/orbslam3_docker/ORB_SLAM3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	skipdownloaderrors = true
