[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec="/gnu/store/ks0k03cwwk219i81x1krp3p7s3jwx65k-nextcloud-client-3.2.0/bin/.nextcloud-real" --background
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
