[Unit]
Description=Emacs Daemon
After=display-manager.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=emacs --fg-daemon

[Install]
WantedBy=default.target