Code*/
Electron/
FontBase/
GIMP
Mailspring/
Nextcloud/
QtProject.conf
oni2/
Trolltech.conf
Typora/
Unknown Orgnization/
apps
birdfont/
configstore/
dconf
htop/
gtk*/
ibus/
libfm/
marktext/
microsoft-edge-beta/
neofetch/
pavucontrol.ini
pcmanfm-qt/
pcmanfm/
pulse/
zhumu.conf
xfce4/
vifm/
ulauncher/
qv2ray/
Thunar/
Kingsoft/
JetBrains/
fcitx/
menus/
nomacs/
VSCodium/
azote/
freerdp/
libvirt/
winapps/
coc/
CuteCom/
baidunetdisk/
labelme/
microsoft-edge-dev/
teamviewer/
QtProject/
blender/
redisdesktop/
xpra/
xsettingsd/
Autodesk/
Insomnia/
Postman/
Slack/
betaflight-configurator/
composer/
libreoffice/
vlc/
AppleMusic/
EdgeTX/
ExpressLRS Configurator/
Unknown Organization/
VCG/
blheli-configurator/
cura/
discord/
dleyna-renderer-service.conf
eog/
evince/
evolution/
fish/
gnome-boxes/
google-chrome/
Epic/
Unreal Engine/
falkTX/
microsoft-edge/
nitrogen/
unity3d/
mpv/
flameshot/
cef_user_data/
psd/
onlyoffice/
pulseaudio*/
Esri/
Logic/
chromium/
deepin/
haruna/
nano/
vimb/
fontconfig/
genericrc
okularrc
google-chrome*
monitors*
gnome*
filelightrc
nautilus
tabby
user-dirs*
zoomus.conf
Harunarc

